* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        sans-serif;
    background-color: #f0f0f0; /* Light Mode background */
    color: #2d3748; /* Dark Slate Gray for readability */
    line-height: 1.5;
}
