* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        sans-serif;
    background-color: #111827; /* Warna Dark Slate */
    color: #f3f4f6; /* Warna Teks Putih Keabu-abuan */
    line-height: 1.5;
}
